.introduction{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "information side"
                        "information side";
}        

.introduction__information{
    background-color: $primary-color;
    grid-area: information;
    .introduction__img{
        object-fit: cover;
        @include image(35vw,74vh);
    }
}   

.introduction__side{
    grid-area: side;

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-image: url("../img/img__introduction__side.png");
}