*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    @include position(sticky);
    z-index: 1;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $tertiary-color;
    padding: 0.7rem 1rem;
    &__img{
        cursor: pointer;
    }
    &__img--close{
        &:hover{
            background-color: $hover-color-device;
        }
    }
    
}

.menu{
    display: none;
}