.introduction {
  display: grid;
  grid-template-columns: 100%;
  @include responsive(768px){
    grid-template-columns: repeat(2,50%);
  }
  
  &__information {
    align-items: center;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    min-height: 566px;
    padding: 1rem;
  /*   @include responsive(375px){
      padding: 14rem 1rem 4rem 2rem;
    } */
    @include responsive(768px){
      justify-content: flex-start;
    }
  }

  &__indicationImg {
    height: auto;
    overflow: hidden;
    width: 75%;
    @include responsive(768px){
      margin-top: 5rem;
    }
    @include responsive(768px){
      width: 81%;
    }
  }

  &__img {
    height: auto;
    left: -52px;
    position: relative;
    width: 146%;
    @include responsive(768px){
      width: 162%;
    }
    @include responsive(1024px){
      left: -90px;
    }
  }

  &__title{
    color: $white-color;
    letter-spacing: 3px;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
    font: {
      family: $roboto-font-family;
      size: 1.25rem;
      weight:550;
    }
  }

  &__description{
    color: $white-color;
    text-align: center;
    word-wrap: break-word;
    font: {
      family: $roboto-font-family;
      size: 1rem;
      weight: 400;
    }
    /* @include responsive(375px){
      margin-bottom: 3rem;
    } */
  }

  &__side {
    margin-bottom: 6rem;
    margin-left: 2rem;
    min-height: 626px;
    position: relative;
    word-wrap: break-word;
    &::before{
      background: {
        image: url("../img/img__introduction__side.png");
        position-x: center;
        position-y: bottom;
        repeat: no-repeat;
        size: 256px auto;
      }
      bottom: 12%;
      content: "";
      left: 0%;
      opacity: 0.1;
      position: absolute;
      right: 0%;
      top: 0%;
      @include responsive(1024px){
        left: -2%;
        bottom: 1%;
        background-size: 414px auto;
      }
    }
    @include responsive(768px){
      min-height: 658px;
    }
    
  }

  &__slogan{
    line-height: 1.1;
    margin-top: 6rem;
    font: {
      family: $cursive-font-family;
      size: 2.25rem;
      weight: 400;
    }
    @include responsive(1024px){
      margin-right: 2rem;
    }
  }

  &__line{
    border-left: 20px solid $primary-color;
    height: 50%;
    left: 84%;
    position: absolute;
    bottom: 6%;
    @include responsive(1024px){
      bottom: -6%;
    }
  }
}
