.introduction {
  display: grid;
  grid-template-columns: 100%;

  &__information {
    align-items: center;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    min-height: 566px;
    padding: 1rem;
  }

  &__indicationImg {
    height: auto;
    overflow: hidden;
    width: 75%;
  }

  &__img {
    height: auto;
    left: -52px;
    position: relative;
    width: 146%;
  }

  &__title{
    color: $white-color;
    letter-spacing: 3px;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
    font: {
      family: $roboto-font-family;
      size: 1.25rem;
      weight:550;
    }
  }

  &__description{
    color: $white-color;
    text-align: center;
    word-wrap: break-word;
    font: {
      family: $roboto-font-family;
      size: 1rem;
      weight: 400;
    }
  }

  &__side {
    margin-bottom: 6rem;
    margin-left: 2rem;
    min-height: 626px;
    position: relative;
    word-wrap: break-word;
    &::before{
      background: {
        image: url("../img/img__introduction__side.png");
        position-x: center;
        position-y: bottom;
        repeat: no-repeat;
        size: 256px auto;
      }
      bottom: 12%;
      content: "";
      left: 0%;
      opacity: 0.1;
      position: absolute;
      right: 0%;
      top: 0%;
    }
  }

  &__slogan{
    line-height: 1.1;
    margin-top: 6rem;
    font: {
      family: $cursive-font-family;
      size: 2.25rem;
      weight: 400;
    }
  }

  &__line{
    border-left: 20px solid $primary-color;
    height: 50%;
    left: 84%;
    position: absolute;
    top: 43%;
  }
}
