@mixin position($sticky) {
  -webkit-position: $sticky;
  -moz-position: $sticky;
  -ms-position: $sticky;
  -o-position: $sticky;
  position: $sticky;
}

@mixin image($whidth, $height, $left) {
  height: $height;
  left: $left;
  width: $whidth;
}

@mixin title-img($background-color) {
  background-color: $background-color;
  display: flex;
  justify-content: center;
}

@mixin background-img($url-img, $height) {
  min-height: $height;
  position: relative;
  background: {
    image: url($url-img);
    position-x: center;
    repeat: no-repeat;
  }
}

@mixin description-square($top, $leftP, $rightP, $width) {
  background-color: $white-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  position: absolute;
  top: $top;
  width: $width;
  word-wrap: break-word;
  @if $leftP {
    left: 0;
  }
  @if $rightP {
    right: 0;
  }
}
@mixin link-square() {
  color: $primary-color;
  font-family: Ubuntu, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 3px;
  text-decoration: none;
}

@mixin cursive_title($top, $right, $whidth){
  background-color: $white-color;
  right: $right;
  line-height: 1.2;
  padding: 2rem 1rem 0rem;
  position: absolute;
  text-align: center;
  top: $top;
  width: $whidth;
  font: {
    family: $cursive-font-family;
    size: 1.5rem;
    weight:400;
  }
}

@mixin properties-size($top, $rigth, $whidth){
  top: $top;
  right: $rigth;
  width: $whidth;
}

@mixin responsive($whidth) {
  @media (min-width: $whidth) { 
    @content; 
  }
}