.projects {
  background-color: $tertiary-color;
  min-height: 500px;
  padding: 3rem 0rem 0rem;
  @include responsive (768px){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  @include responsive (768px){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  @include responsive (1875px){
    justify-items: center;
  }
  &__containerFig{
    position: relative;
    @include responsive (768px){
      grid-column: 1/4;
      grid-row: 1;
      width: 84%;
    }
  }
  &__figure {
    margin: 0rem 0.5rem;
    min-height: 546px;
    overflow: hidden;
    width: 95%;
    @include responsive(500px){
      margin: 0 auto;
      width: 73%;
    }
    @include responsive(600px){
      width: 87%;
    }
    @include responsive (768px) {
      margin: 0rem 1rem 0rem 1rem;
      width: 94%;
    }
    @include responsive (1875px) {
      width: 77%;
    }
  }
  &__background{
    @include responsive (768px){
      @include properties-size(52%, 0, 43%);
      height: 43%;
    }
  }
  &__figImg{
    position: relative;
    right: 95%;
    width: 287%;
    @include responsive(600px){
      right: 34%;
      width: 173%;
    }
    @include responsive(768px){
      right: 50%;
      width: 206%;
    }
    @include responsive(1024px){
      right: 27%;
      width: 152%;
    }
    @include responsive(1440px){
      left: 14%;
      width: 111%;
    }
    @include responsive(1875px){
      left: 27%;
      width: 114%;
    }
  }
  &__img--title{
    @include responsive(768px){
      width: 51%;
    }
    @include responsive(1024px){
      width: 39%;
    }
  }
  &__side {
    @include title-img(#34421e);
    margin: 1.5rem 0.5rem 0rem;
    padding: 6.5rem 0rem;
    @include responsive(500px){
      margin: 2rem auto;
      width: 73%;
    }
    @include responsive(600px){
      width: 87%;
    }
    @include responsive(768px){
      align-items: center;
      grid-column: 3/5;
      grid-row: 1;
      height: 78%;
      margin: 0rem 1rem 0rem 132px;
      width: 62%;
    }
    @include responsive(885px){
      margin: 0rem 1rem 0rem 158px;
    }
    @include responsive(1024px){
      margin: 0rem 1rem 0rem 158px;
    }
    @include responsive(1440px){
      margin: 0rem 1rem 0rem 200px;
      width: 47%;
    }
    @include responsive(1875px){
      margin: 0rem 1rem 0rem -255px;
      width: 31%;
    }
  }
  &__recomendations {
    @include description-square(false, true, false, 87%);
    bottom: 0%;
    padding: 2rem 1rem;
    @include responsive (500px) {
      bottom: 4px;
      left: 13%;
      width: 58%;
    }
    @include responsive (600px) {
      left: 6%;
    }
    @include responsive (768px) {
      left: 16px;
      width: 75%;
    }
    @include responsive (1024px) {
      left: 2%;
      width: 69%;
    }
    @include responsive (1440px) {
      left: 14.7%;
      width: 52%;
    }
    @include responsive (1875px) {
      left: 22%;
      width: 46%
    }
  }
  &__description{
    margin-bottom: 2rem;
  }
  &__link {
    @include link-square();
    margin-bottom: 2rem;
  }
  &__information {
    align-items: center;
    background-color: $primary-color;
    color: $white-color;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    min-height: 565px;
    text-align: center;
    @include responsive (768px) {
      grid-column: 1/3;
      grid-row: 2;
      margin-top: 3rem;
    }
    @include responsive (1024px) {
      display: flex;
      justify-content: center;
    }
  }
  &__group {
    margin: 7rem 0rem 1rem;
  }
  &__title {
    line-height: 1.2;
    text-align: center;
    font: {
      family: $cursive-font-family;
      size: 1.875rem;
      weight: 300;
    }
  }
  &__paragraph {
    line-height: 1.6;
    margin-bottom: 8rem;
    width: 53%;
    font: {
      family: 'Open Sans', sans-serif;
      size: 1rem;
    }
    @include responsive(500px){
      margin-bottom: 4rem;
      width: 39%;
    }
    @include responsive(1024px){
      width: 68%;
    }
    @include responsive(1875px){
      width: 47%;
    }
  }
  &__sideInformation {
    min-height: 569px;
    overflow: hidden;
    width: 100%;
    @include responsive (768px){
      grid-column: 3/5;
      grid-row: 2;
    }
  }
  &__sideInfoImg{
    position: relative;
    right: 166%;
    width: 287%;
    @include responsive(500px){
      right: 63%;
      width: 167%;
    }
    @include responsive(600px){
      right: 32%;
      width: 136%;
    }
    @include responsive(768px){
      right: 136%;
      width: 246%;
    }
    @include responsive(1024px){
      right: 78%;
      width: 179%;
    }
    @include responsive(1440px){
      right: 34%;
      width: 134%;
    }
    @include responsive(1875px){
      right: 0%;
      width: 102%;
    }
  }
}
