.services{
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 655px;
    padding: 15rem 1rem 4rem 3rem;
    position: relative;
    @include responsive(768px){
        align-content: center;
        align-items: center;
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
        margin-top: 6rem;
        min-height: 401px;
        padding: 5rem 8rem 0rem 7rem;
    }
    @include responsive(1024px){
        padding: 5rem 13rem 0rem 10rem;
    }
    &__title{
    @include cursive_title(-15%, 4%, 86%);
    @include responsive(768px){
        @include properties-size(-24%, 11%, 77%);
        font-size: 1.875rem;
    }
    @include responsive(1024px){
        @include properties-size(-20%, 14%, 74%);
    }
    }
    &__information{
        @include responsive(768px){
            justify-content: flex-start;
        }
    &__img{
        @include responsive(768px){
            width: 162%;
        }
    }
    &__side{
        @include responsive(768px){
            min-height: 658px;
        }
    }
    &__indicationImg{
        @include responsive(768px){
            margin-top: 5rem;
        }
    }
    }
    &__description{
        color: $tertiary-color;
        line-height: 1.6;
        word-wrap: break-word;
        font: {
            family: 'Open Sans',sans-serif;
            size: 0.9rem;
        }
    }
}